
body{ /* Color de fondo body */
    background-color: black;
}


.bg-dark-custom { /* Fondo de contenedores internos */
    background-color: #171717; 
}

.container-fluid { /* Contenedor general */
    max-width: 1510px; 
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.col-lg-3{ /* Posicionamiento de columna izquierda (3 unidades de ancho) */
    padding-right: 7px;
    padding-left: 8px;

}

.col-lg-9{ /* Posicionamiento de columna derecha (9 unidades de ancho) */
    padding: 0;
    padding-right: 7px;
}

.navbar { /* Barra de navegacion derecha */
    padding-bottom: 7px;
    margin-top: 10px;
}

.bg-secondarybutton { /* Boton iniciar sesion */
    background-color: #ffffff; 
    padding: 12px 33px !important; 
}

.rounded-pill { /* Redondeo de boton */
    border-radius: 50px; 
}

.rounded-pillBarra { /* Redondedo de fondo de barra */
    border-radius: 10px; 
}
.botones{ /* Posicionamiento de ambos botones */
    padding-right: 30px;

}

.buttonA{ /* Posicionamiento boton Registrate */
    margin-right: 24px;
    padding-top: 12px;
}

.list-unstyled{ /* Posicionamiento footer de columna izquierda */
    font-size:small;
    padding-left: 10px;
    padding-top: 45px;
}

.footer-wrapper { /* Fondo de contenedor del footer de columna izquierda */
    background-color: #171717; 
    padding: 10px; 
    border-radius: 10px;
    margin-top: 10px; 
}
.footer{ 
    margin: 0; /* Posicion de footer de columna izquierda */
}

.footer a { /* Textos del footer de columna izquierda */
    color: gray; 
    text-decoration: none; 
}

.footer a:hover { /* Textos del footer de columna izquierda */
    color: gray; 
    text-decoration: none; 
}

.footer ul { /* Posicion de textos de footer de columna izquierda */
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.rounded-pillBtn { /* Redondedo de boton */
    border: 0.5px solid white;
    border-radius: 50px; 
    padding: 6px 15px; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 13px;

}

.btnIdioma{ /* Posicion de boton de cambio de idioma */
    padding-top: 20px;
}

.text-gray{ /* Color de texto */
    color: gray;
}

.btnLista{ /* Color de fondo del boton de crear lista */
    background-color: white;
}
.bg-gray{ /* Color de fondo */
    background-color: rgb(42, 41, 41);
}

.biblioteca{ /* Posicion del boton Tu Biblioteca */
    padding-bottom: 20px;
}

.textoEtiqueta1{ /* Texto 1 de cuadro de crear lista*/
    padding-top: 20px;
    padding-left: 20px;
}

.textoEtiqueta2{ /* Texto 2 de cuadro de crear lista */
    padding-top: 0px;
    padding-left: 20px;
}

.footerFinal{ /* Footer colorido */
    text-align: left;
}

.gradient-bg { /* Color degradado */
    background: linear-gradient(to right, #aa2e9a, #6ca0e8); /* Cambia los colores según tus preferencias */
}